/* global stuff !start */

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #6F7B84;
    text-decoration: none;
}

a:hover {
    color: #6F7B84;
    text-decoration: underline;
}


/* global stuff !end */


/* everything about the navbar !start */

nav {
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

nav img {
    width: 2em;
    border-radius: 50%;
}

nav svg {
    fill: #A6ACB1;
    margin-top: 3px;
    width: 2em;
}

nav a {
    margin-top: 12px;
}

nav a:last-child {
    margin-right: 12px;
}


/* everything about the navbar !end */


/* everything about the search section !start  */

main {
    margin-top: 6em;
    display: flex;
    gap: 1.4em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main img {
    max-width: 70%;
}

.search {
    padding: 1px 20px;
    margin-top: 30px;
    display: flex;
    gap: 14px;
    border: 0.5px solid #F3F3F3;
    border-radius: 30px;
    width: 80%;
    max-width: 600px;
    height: 44px;
}

.search:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}

.search input {
    font-size: 1.4em;
    height: 40px;
    flex: 1;
    text-decoration: none;
    border: none;
    outline: none;
}

@media all and (max-width:600px) {
    .search input {
        font-size: 1em;
    }
}

.search svg {
    width: 30px;
}

.search-icon {
    fill: #A6ACB1;
}


/* everything about the search section !end */


/* everything about i'm felling lucky section !start */

.Im-feeling-lucky {
    text-align: center;
    margin: 10px auto;
}

.Im-feeling-lucky p {
    margin-top: 2em;
    font-size: 0.8em;
}

.Im-feeling-lucky a {
    color: #1A0DAB;
}

.button-group button {
    background-color: #F8F9FA;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: auto 2px;
}

.button-group button:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19);
}


/* everything about i'm felling lucky section !end */


/* everything about the footer !start */

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    border-top: 1px solid #E6E7E9;
    padding-top: 4px;
    background-color: #F2F2F2;
}

footer a {
    margin: 5px;
    margin-top: 10px;
}

footer a:last-child {
    padding-bottom: 10px;
}

@media all and (max-width:600px) {
    footer {
        justify-content: center;
    }
    footer a {
        margin-top: 5px;
    }
}


/* everything about the footer !end */